<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Login Paciente</title>
	<%- include('imports/imports.ejs')%>
</head>
<body>
	<header>
		<%- include('parcial/nav',{logo:true,titulo:true,value:'Inicio Paciente', menu:false}) %>
	</header>
	<main>
		<div class="tContainer">
			<div class="r">
				<div class="c2">
					<img src="images/laboratorio.png" alt="" class="logo-l">
				</div>
				<div class="c2" id="frm-paciente">
					<div class="r center">
						
						<div class="c3 f-column ">
							<input type="text" placeholder="Ingrese su DNI" name="dni" id="dniIdP">
							<div id="errordni" class="error-message" style="color: rgb(250, 2, 2);font-size: 20px;background-color: rgba(0, 0, 0, 0.685);width: 200px;"></div>
							<input type="password" placeholder="ingrese su clave" name="clave" id="claveIdP">
						
                            <div id="errorclave" class="error-message" style="color: rgb(250, 2, 2);font-size: 20px;background-color: rgba(0, 0, 0, 0.685);width: 220px;"></div>
							<button id="btnPaciente">Entrar</button>
							<button id="cambiarClaves">¿Olvidaste tu contraseña?</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>
	<footer></footer>

	<script  src="/js/pacLogin.js"></script>
</body>
</html>